## Dataset

A transnational data set which contains all the transactions occurring between 01/12/2021 and 09/12/2022 for a UK-based and registered non-store online retail.

## To-dos

- [x] EDA
- [x] Build Cohort Analytics
- [x] Retention Rate
- [x] Churn Rate
- [x] Customer Retention KPIs
- [x] Build RFM model
- [x] CLV Basic, BG-NBD, Gamma Gamma
- [x] Predict

In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [5]:
import gdown
file_id = "1zV8hd8avaucgIWvA7fgLdaD6ldheOf3r"
url = f"https://drive.google.com/uc?id={file_id}"
output = "clv.csv"
gdown.download(url, output, quiet=False)
df_clv = pd.read_csv(output)
df_clv

Downloading...
From: https://drive.google.com/uc?id=1zV8hd8avaucgIWvA7fgLdaD6ldheOf3r
To: /workspaces/Customer_Retention/clv.csv
100%|██████████| 115k/115k [00:00<00:00, 13.3MB/s]

      recency    T  frequency      monetary
0           0  325          1  77183.600000
1         365  367        182     23.681319
2         282  358         31     57.975484
3           0   18         73     24.076027
4           0  310         17     19.670588
...       ...  ...        ...           ...
4333        0  277         10     18.060000
4334        0  180          7     11.545714
4335      118  126         12     14.837500
4336      333  337        721      2.837074
4337      158  201         70     26.246857

[4338 rows x 4 columns]

### Content
* InvoiceNo: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation.

* StockCode: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.

* Description: Product (item) name. Nominal.

* Quantity: The quantities of each product (item) per transaction. Numeric.

* InvoiceDate: Invoice Date and time. Numeric, the day and time when each transaction was generated.

* UnitPrice: Unit price. Numeric, Product price per unit in sterling.

* CustomerID: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.

* Country: Country name. Nominal, the name of the country where each customer resides.

### 1. Data Overview</br> To be honest, this dataset isn't very big, and overall, it is quite clear and comprehensive, making it easy for us to analyze. Let's take a look at the data.

In [9]:

file_id = "1MYVxfXHHXC6GpmHjL8GOu632l2ruz41R"
url = f"https://drive.google.com/uc?id={file_id}"
output = "online_retail.csv"
gdown.download(url, output, quiet=False)
df = pd.read_csv(output)
df

Downloading...
From: https://drive.google.com/uc?id=1MYVxfXHHXC6GpmHjL8GOu632l2ruz41R
To: /workspaces/Customer_Retention/online_retail.csv
100%|██████████| 47.8M/47.8M [00:00<00:00, 129MB/s]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2021-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2021-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2021-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2021-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2021-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2022-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2022-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2022-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2022-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2022-12-09 12:50:00,4.95,12680.0,France

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [8]:
df.shape

(541909, 8)

In [9]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [10]:
df.dtypes.value_counts()

object     5
float64    2
int64      1
Name: count, dtype: int64

### 2.Explore and clean Data

In [11]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [12]:
df[df.isna().any(axis = 1)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,2021-12-01 11:52:00,0.00,NaN,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,2021-12-01 14:32:00,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,2021-12-01 14:32:00,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,2021-12-01 14:32:00,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,2021-12-01 14:32:00,1.66,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,2022-12-09 10:26:00,4.13,NaN,United Kingdom
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,2022-12-09 10:26:00,4.13,NaN,United Kingdom
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,2022-12-09 10:26:00,4.96,NaN,United Kingdom
541539,581498,85174,S/4 CACTI CANDLES,1,2022-12-09 10:26:00,10.79,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,2022-12-09 10:26:00,1714.17,NaN,United Kingdom

But if y want see more details about dataset, we will create a comprehensive report for this

In [12]:
from pandas_profiling import ProfileReport
report = ProfileReport(df)
report

PydanticImportError: `BaseSettings` has been moved to the `pydantic-settings` package. See https://docs.pydantic.dev/2.9/migration/#basesettings-has-moved-to-pydantic-settings for more details.

For further information visit https://errors.pydantic.dev/2.9/u/import-error